/*This is the styling of the calculator html body*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*styles the body of the page*/

body {
  min-height: 100vh;
  background: #efeff2;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*styles the overall body of the calculator */

.calculator {
  width: 300px;
  height: 500px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 3);
  border-radius: 12px;
  background: #506442;
  overflow: hidden;
}

/* styles the frame of the calculator */

form input {
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 12px;
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
  background: #000;
  text-align: right;
  pointer-events: none;
}

/* styles for the whole buttons on the calculator*/

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

button {
  flex: 0 0 22%;
  margin: 5px 0;
  border: 1px solid rgb(7, 6, 6);
  width: 60px;
  height: 52px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/* This style changes the buttons of the colors of the first four buttons
 by calling the btn-yellow class */
.btn-yellow {
  background: rgb(223, 113, 10);
  color: #fff;
}

.btn-grey {
  background: #f8f8f8;
}

/*This style changes the colors of the equal and the clear button (C)
*/
.btn-equal {
  background: green;
}

.btn-clear {
  background: cyan;
}
